RewriteEngine On
RewriteRule ^page/(.*)$ controller.php?page=$1 [L,NC,NE]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]
ErrorDocument 404 /pages-error-404.php